<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/directory.css" type="text/css" />
    <link rel="stylesheet" href="/css/switchButton.css" type="text/css" />
    <script type="text/javascript" src="/js/switchButton.js"></script>
    <title>{{curDir}}</title>
</head>

<body>
    <div id={{authPop}}></div>
    {{! prettier-ignore }}
    {{> authPopUp }}
    <div class="header">
        <div class="header-text">
            <div class="ht-main">GitHub's Compiler</div>
            <div class="ht-sub">Compile directly from GitHub</div>
        </div>
    </div>
    <div class="p-10 bg-surface-secondary">
        <div class="userInfo">
            <div>
                <div><a href={{userLink}}><img class="dp" src={{profilePic}}></a></div>
                <div class="ui-text">
                    <div class="username"><a href={{userLink}}>{{username}}</a></div>
                    <div class="repo"><a href={{repoLink}}>{{repo}}</a></div>
                </div>
            </div>
            <div class="switch-button" style="margin-right: 40px !important">
                <label id="switch" class="switch">
                    <input type="checkbox" onchange="toggleTheme()" id="slider" />
                    <span class="slider round"></span>
                </label>
            </div>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-header">
                    <h6 class="url">{{structure}}</h6>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover table-nowrap">
                        <tbody>
                            {{#each data}}
                            <tr>
                                <td data-label="Job Title">
                                    {{#if isDir}}
                                    <img class="type" alt="dir" src="/assets/images/folder.png" />
                                    {{else}}
                                    <img class="type" alt="file" src="/assets/images/file.png" />
                                    {{/if}}
                                    <a style="font-size:medium" href={{this.url}}>{{this.name}}</a>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>